.featured-cars {
  padding: 20px;
  margin-bottom: 50px;
}
.featured-cars-h2 {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 35px;
  line-height: 1.2em;
  color: #0b163f;
  font-family: "Font-bold";
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}
@media (max-width: 768px) {
  .car-grid {
    grid-template-columns: 1fr; 
  }
}
